.Footer{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 160, 52);
<<<<<<< HEAD

=======
    bottom: -150%;
>>>>>>> a21db0d7fa59c362b3d3fb04f8bd6c82e78d1dad
    
}